* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  background: #121212;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* SCROLL STYLING */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #525252;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(44, 44, 44);
}

.main-head {
  background: #121212;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
}
.main-head nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.main-head nav .logo-name h2 {
  font-size: 2.2rem;
}
.main-head nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.main-head nav ul li a {
  font-size: 2.2rem;
  color: white;
  margin: 0rem 1rem;
}

/* Mobile nav */
.mobile-nav {
  display: none;
}

#home {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#home .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 70%;
  margin: auto;
}
#home .container .logo {
  color: #3ECAD3;
  font-size: 5rem;
  border: 4px solid white;
  border-radius: 50%;
  margin: auto;
  padding: 2.5rem 2rem;
}
#home .container h3 {
  color: #a4a4a4;
  font-size: 3.6rem;
}
#home .container h4 {
  color: white;
  font-size: 4.2rem;
  margin: 2rem 0;
}
#home .container .button {
  margin-top: 2.4rem;
}
#home .container .button a {
  color: white;
  border: 4px solid #3ECAD3;
  font-size: 2.2rem;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 0rem 1rem;
}
#home .container .button a:hover {
  border: 4px solid #0b5b61;
  transition: ease-in all 0.2s;
}

#portfolio {
  /* flex-wrap for project containers */
  /* project container edits */
  /* Skills grid */
}
#portfolio header {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  min-height: 25vh;
}
#portfolio header h2 {
  color: white;
  font-size: 6rem;
}
#portfolio header p {
  border-left: 2px solid #3ECAD3;
  padding: 1rem 0rem 1rem 3rem;
  width: 35%;
  color: white;
  font-size: 1.8rem;
}
#portfolio header p a {
  color: white;
  border-bottom: 2px solid #3ECAD3;
}
#portfolio .work-experience {
  max-width: 700px;
  margin: 0px auto;
  padding: 100px 0px;
}
#portfolio .work-experience h3 {
  font-size: 3.5rem;
  color: white;
}
#portfolio .work-experience h3 a {
  color: #3ECAD3;
}
#portfolio .work-experience p, #portfolio .work-experience ul li {
  color: #a4a4a4;
  font-size: 1.5rem;
}
#portfolio .work-experience ul {
  margin-top: 3rem;
}
#portfolio .work-experience ul li {
  list-style: inherit;
  margin: 2rem 0;
}
#portfolio .work-arrow {
  text-align: center;
}
#portfolio .work-arrow i {
  margin-top: 6rem;
  font-size: 3rem;
  color: #3ECAD3;
}
#portfolio .grid-experience {
  width: 70%;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  font-size: 3rem;
  color: white;
}
#portfolio .grid-experience .exp-grid {
  position: relative;
}
#portfolio .grid-experience .exp-grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#portfolio .grid-experience .exp-grid .hoverInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}
#portfolio .grid-experience .exp-grid .hoverInfo h4 {
  text-align: center;
}
#portfolio .grid-experience .exp-grid .hoverInfo button {
  border: none;
  padding: 1.2rem 1.9rem;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  border-radius: 50px;
}
#portfolio .grid-experience .exp-grid .hoverInfo button:hover {
  cursor: pointer;
}
#portfolio .grid-experience .exp-grid .hoverInfo .modalContainer {
  background: rgba(0, 0, 0, 0.904);
  height: 100vh;
  width: 100%;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}
#portfolio .grid-experience .exp-grid .hoverInfo .modalContainer .close {
  position: absolute;
  width: 100%;
  height: 100%;
}
#portfolio .grid-experience .exp-grid .hoverInfo .modalContainer .close i {
  position: absolute;
  bottom: 10%;
  right: 27%;
  z-index: 555;
  cursor: pointer;
  color: white;
}
#portfolio .grid-experience .exp-grid .hoverInfo .modalContainer .modal {
  margin-top: 10%;
  background: #121212;
  transform: translatey(10%);
  height: 85vh;
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: white;
}
#portfolio .grid-experience .exp-grid .hoverInfo .modalContainer .modal .expr-info, #portfolio .grid-experience .exp-grid .hoverInfo .modalContainer .modal .expr-link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
#portfolio .grid-experience .exp-grid .hoverInfo .modalContainer .modal .expr-info {
  padding-top: 1rem;
}
#portfolio .grid-experience .exp-grid .hoverInfo .modalContainer .modal .expr-info .sub-title {
  color: #525252;
  text-transform: uppercase;
  font-size: 2.5rem;
}
#portfolio .grid-experience .exp-grid .hoverInfo .modalContainer .modal .expr-info .expr-descrip {
  font-size: 2rem;
  padding-top: 2rem;
  border-top: 1px solid gray;
}
#portfolio .grid-experience .exp-grid .hoverInfo .modalContainer .modal .expr-link .client-link {
  border: 4px solid #3ECAD3;
  width: 20%;
  margin: 3rem 0rem;
  padding: 0.7rem;
  border-radius: 50px;
  color: white;
  text-align: center;
  font-size: 1.8rem;
}
#portfolio .grid-experience .exp-grid .hoverInfo .modalContainer .modal .expr-link .client-link:hover {
  border: 4px solid #0b5b61;
  transition: all 0.2s ease-in;
}
#portfolio .grid-experience .exp-grid .hoverInfo .show {
  opacity: 1;
  pointer-events: all;
}
#portfolio .grid-experience .exp-grid .hoverInfo:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
#portfolio .grid-experience .exp-grid-one {
  grid-column: 1/2;
}
#portfolio .grid-experience .exp-grid-one .hoverInfo button {
  background: #C87C0A;
  color: white;
}
#portfolio .grid-experience .exp-grid-two {
  grid-column: 2/3;
}
#portfolio .grid-experience .exp-grid-two .hoverInfo button {
  background-color: #f8ad1a;
  color: white;
}
#portfolio .grid-experience .exp-grid-three {
  grid-column: 3/4;
}
#portfolio .grid-experience .exp-grid-three .hoverInfo button {
  background-color: #001c54;
  color: white;
}
#portfolio .grid-experience .exp-grid-four {
  grid-column: 1/2;
  grid-row: 2/3;
}
#portfolio .grid-experience .exp-grid-four .hoverInfo button {
  background-color: #383531;
  color: white;
}
#portfolio .grid-experience .exp-grid-five {
  grid-column: 2/3;
  grid-row: 2/3;
}
#portfolio .grid-experience .exp-grid-five .hoverInfo button {
  background: #10344b;
  color: #E5F054;
}
#portfolio .grid-experience .exp-grid-one:hover .hoverInfo {
  background-color: #879F84;
}
#portfolio .grid-experience .exp-grid-one:hover .hoverInfo button:hover {
  background: #ab6e12;
  transition: all 0.3s ease-in-out;
}
#portfolio .grid-experience .exp-grid-two:hover .hoverInfo {
  background-color: #0A0F34;
  color: #f8ad1a;
}
#portfolio .grid-experience .exp-grid-two:hover .hoverInfo button:hover {
  background: rgb(153, 97, 12);
  transition: all 0.3s ease-in-out;
}
#portfolio .grid-experience .exp-grid-three:hover .hoverInfo {
  background-color: white;
  color: #001c54;
}
#portfolio .grid-experience .exp-grid-three:hover .hoverInfo button:hover {
  background: #001235;
  transition: all 0.3s ease-in-out;
}
#portfolio .grid-experience .exp-grid-four:hover .hoverInfo {
  background-color: #f96411;
}
#portfolio .grid-experience .exp-grid-four:hover .hoverInfo button:hover {
  background: #252321;
  transition: all 0.3s ease-in-out;
}
#portfolio .grid-experience .exp-grid-five:hover .hoverInfo {
  background-color: #0895bc;
  color: #E5F054;
}
#portfolio .grid-experience .exp-grid-five:hover .hoverInfo button:hover {
  background: #0b283a;
  transition: all 0.3s ease-in-out;
}
#portfolio .reverse {
  flex-wrap: wrap-reverse;
}
#portfolio .default {
  flex-wrap: wrap;
}
#portfolio .project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 70%;
  margin: auto;
  min-height: 65vh;
}
#portfolio .project-container .left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#portfolio .project-container .right {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
#portfolio .project-container .right .flip {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
#portfolio .project-container .right .flip li {
  list-style: none;
  margin-right: 2rem;
}
#portfolio .project-container .right .flip li:after {
  content: "\f111";
  font-family: "Font awesome 5 free";
  font-weight: 600;
  font-size: 0.6rem;
  position: absolute;
  margin-top: 1.1rem;
  margin-left: 1.2rem;
}
#portfolio .project-container .project-info {
  flex: 1 1 30rem;
}
#portfolio .project-container .project-info p {
  color: #3ECAD3;
  font-size: 1.8rem;
}
#portfolio .project-container .project-info h2 {
  font-size: 4.2rem;
  color: white;
  font-weight: 600;
}
#portfolio .project-container .project-info ul {
  padding: 4rem 0rem;
}
#portfolio .project-container .project-info ul li {
  list-style: inside;
  color: #a4a4a4;
  font-size: 1.8rem;
}
#portfolio .project-container .project-info a {
  font-size: 2.2rem;
}
#portfolio .project-container .project-info .long-button {
  border: 4px solid #3ECAD3;
  width: 50%;
  margin: 3rem 0rem;
  padding: 1rem;
  border-radius: 50px;
  color: white;
  text-align: center;
}
#portfolio .project-container .project-info .long-button:hover {
  border: 4px solid #0b5b61;
  transition: all 0.2s ease-in;
}
#portfolio .project-container .project-info .links {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
}
#portfolio .project-container .project-info .links .short-button {
  font-size: 1.8rem;
  color: #a4a4a4;
}
#portfolio .project-container .project-info .links .short-button:hover {
  color: white;
  transition: all 0.2s ease-in;
}
#portfolio .project-container .project-img {
  flex: 3 1 30rem;
}
#portfolio .project-container .project-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#portfolio .grid-skills {
  width: 70%;
  margin: auto;
  padding-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  font-size: 3rem;
  color: white;
  text-align: center;
}
#portfolio .grid-skills .skill-one {
  grid-column: 1/2;
  border-right: 1px solid #1e1e1e;
}
#portfolio .grid-skills .skill-two {
  grid-column: 2/4;
  border-right: 1px solid #1e1e1e;
}
#portfolio .grid-skills .skill-three {
  grid-column: 4/5;
}
#portfolio .grid-skills .skill-four {
  grid-column: 1/2;
  grid-row: 2/3;
  border-right: 1px solid #1e1e1e;
  border-top: 1px solid #1e1e1e;
}
#portfolio .grid-skills .skill-five {
  grid-column: 2/4;
  grid-row: 2/3;
  border-right: 1px solid #1e1e1e;
  border-top: 1px solid #1e1e1e;
}
#portfolio .grid-skills .skill-six {
  grid-column: 4/5;
  grid-row: 2/3;
  border-top: 1px solid #1e1e1e;
}
#portfolio .grid-skills .skill-seven {
  grid-column: 1/2;
  grid-row: 3/4;
  border-top: 1px solid #1e1e1e;
}
#portfolio .grid-skills .skill-eight {
  grid-column: 2/4;
  grid-row: 3/4;
  border-top: 1px solid #1e1e1e;
  border-right: 1px solid #1e1e1e;
  border-left: 1px solid #1e1e1e;
}
#portfolio .grid-skills .skill-nine {
  grid-column: 4/5;
  grid-row: 3/4;
  border-top: 1px solid #1e1e1e;
}
#portfolio .grid-skills p {
  padding: 1.7rem;
}
#portfolio .grid-skills p:hover {
  background: #0f0f0f;
  transition: all ease-in 0.3s;
}
#portfolio .grid-skills p:hover i {
  transition: all ease-in 0.3s;
}
#portfolio .grid-skills .skill-one:hover i {
  color: #5CCFEE;
}
#portfolio .grid-skills .skill-two:hover .fa-html5 {
  color: #E54C21;
}
#portfolio .grid-skills .skill-two:hover .fa-css3-alt {
  color: #1572B6;
}
#portfolio .grid-skills .skill-three:hover i {
  color: #C95C95;
}
#portfolio .grid-skills .skill-five:hover i {
  color: #F7E018;
}
#portfolio .grid-skills .skill-six:hover i {
  color: #F05033;
}
#portfolio .grid-skills .skill-seven:hover i {
  color: #EB4A4B;
}
#portfolio .grid-skills .skill-eight:hover i {
  color: #4F5B93;
}
#portfolio .grid-skills .skill-nine:hover i {
  color: #CC3534;
}

#about {
  width: 70%;
  margin: auto;
  padding-top: 30rem;
  min-height: 80vh;
}
#about .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 30vh;
}
#about .about-container .about-info {
  flex: 2 1 30rem;
}
#about .about-container .about-info h2 {
  font-size: 6rem;
  color: white;
}
#about .about-container .about-info p {
  font-size: 2.2rem;
  color: #a4a4a4;
  margin: 2rem 0rem;
}
#about .about-container .about-info .about-links {
  margin: 5rem 0rem;
}
#about .about-container .about-info .about-links .resume-link {
  color: white;
  font-size: 2.2rem;
  border: 4px solid #3ECAD3;
  padding: 1rem 4rem;
  border-radius: 10px;
}
#about .about-container .about-info .about-links .resume-link:hover {
  border: 4px solid #0b5b61;
}
#about .about-container .about-info .about-links a {
  color: #a4a4a4;
  font-size: 3rem;
  margin-right: 2rem;
}
#about .about-container .about-info .about-links a:hover {
  color: white;
  transition: all 0.2s ease-in;
}
#about .about-container .about-img {
  flex: 1 1 10rem;
}
#about .about-container .about-img img {
  width: 100%;
  height: 10%;
  -o-object-fit: cover;
     object-fit: cover;
}

#contact {
  width: 70%;
  margin: auto;
  padding: 15rem 0rem;
  min-height: 65vh;
}
#contact header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#contact header h2 {
  color: white;
  font-size: 6rem;
}
#contact header p {
  color: #3ECAD3;
  font-size: 2.2rem;
  margin: 3rem 0rem;
}
#contact header p:after {
  content: "Let's get in touch";
  font-size: 2.2rem;
  color: #a4a4a4;
}
#contact .form-container form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
#contact .form-container form input {
  background: #444444;
  color: white;
  width: 49%;
  padding: 1rem;
  font-size: 2.2rem;
  border: none;
}
#contact .form-container form textarea {
  width: 100%;
  background: #444444;
  color: white;
  margin-top: 2rem;
  font-size: 2.2rem;
  padding: 1rem;
  border: none;
}
#contact .form-container form button {
  border: 4px solid #3ECAD3;
  margin-top: 2rem;
  font-size: 2.2rem;
  border-radius: 10px;
  background: none;
  color: white;
  padding: 1.5rem 4rem;
  cursor: pointer;
}
#contact .form-container form button:hover {
  border: 4px solid #0b5b61;
  transition: all 0.2s ease-in;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 20vh;
  border-top: 1px solid #565656;
  font-size: 1.8rem;
  color: #a4a4a4;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 70%;
  }
  .main-head nav ul {
    display: none;
  }
  .main-head .mobile-nav {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: #3ECAD3;
    width: 100%;
    bottom: 0;
    height: 10rem;
    z-index: 1;
  }
  .main-head .mobile-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  .main-head .mobile-nav ul li {
    height: 100%;
    width: 100%;
  }
  .main-head .mobile-nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 600;
    color: black;
    height: 100%;
    width: 100%;
  }
  .main-head .mobile-nav ul li a:hover {
    background: #3af2ff;
    transition: ease-in all 0.2s;
  }
  .main-head .mobile-nav.active {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in;
  }
  #home .container {
    width: 90%;
  }
  #portfolio header {
    width: 90%;
  }
  #portfolio header h2 {
    font-size: 4rem;
  }
  #portfolio header p {
    width: 50%;
  }
  #portfolio .work-experience {
    max-width: 500px;
    padding: 35px 0px;
  }
  #portfolio .project-container {
    width: 90%;
    min-height: 70vh;
    padding: 8rem 0rem;
  }
  #portfolio .project-container .right {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  #portfolio .project-container .right .flip {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  #portfolio .project-container .right .flip li {
    list-style: inside;
  }
  #portfolio .project-container .right .flip li:after {
    content: "";
  }
  #portfolio .project-container .project-info ul {
    padding: 1rem 0rem;
  }
  #portfolio .project-container .project-info .long-button {
    margin: 2rem 0rem;
  }
  #portfolio .project-container .project-img {
    flex: 3 1 55rem;
  }
  #portfolio .grid-experience {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    width: 90%;
    grid-gap: 2rem;
  }
  #portfolio .grid-experience .exp-grid {
    grid-column: auto;
    grid-row: auto;
  }
  #portfolio .grid-experience .exp-grid .modalContainer {
    position: relative;
    z-index: 5555;
  }
  #portfolio .grid-experience .exp-grid .modalContainer .close i {
    bottom: 5% !important;
    right: 8% !important;
    font-size: 4rem;
  }
  #portfolio .grid-experience .exp-grid .modalContainer .modal {
    transform: inherit !important;
    height: 100% !important;
    width: 100% !important;
    justify-content: start !important;
  }
  #portfolio .grid-experience .exp-grid .modalContainer .modal .client-link {
    width: 50% !important;
    position: fixed;
    bottom: 1%;
  }
  #portfolio .grid-skills {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    width: 90%;
  }
  #portfolio .grid-skills .box {
    grid-column: auto;
    grid-row: auto;
  }
  #portfolio .grid-skills .skill-one {
    border-bottom: 1px solid #1e1e1e;
  }
  #portfolio .grid-skills .skill-two {
    border-right: none;
  }
  #portfolio .grid-skills .skill-three {
    border-right: 1px solid #1e1e1e;
  }
  #portfolio .grid-skills .skill-four {
    border-right: none;
  }
  #portfolio .grid-skills .skill-eight {
    border-right: none;
    border-bottom: 1px solid #1e1e1e;
  }
  #portfolio .grid-skills .skill-nine {
    border-right: 1px solid #1e1e1e;
  }
  #about {
    width: 90%;
  }
  #about .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #about .about-container .about-img img {
    height: 100% !important;
  }
  #contact {
    width: 90%;
  }
  footer p {
    margin-bottom: 9rem;
  }
}
@media screen and (max-width: 501px) {
  html {
    font-size: 45%;
  }
  #home .container .logo {
    font-size: 3rem;
  }
  #home .container h3 {
    font-size: 2.5rem;
  }
  #home .container h4 {
    font-size: 3rem;
  }
  #home .container .button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #home .container .button a {
    margin: 1rem 0rem;
  }
  #portfolio header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 90%;
  }
  #portfolio header h2 {
    font-size: 4rem;
  }
  #portfolio header p {
    margin-top: 2rem;
    width: 90%;
  }
  #portfolio .work-experience {
    max-width: 270px;
  }
  #portfolio .grid-skills {
    padding-top: 0rem;
  }
  #portfolio .grid-skills .skill-one {
    border-right: none;
  }
  #portfolio .grid-skills .skill-two {
    border-bottom: 1px solid #1e1e1e;
  }
  #portfolio .grid-skills .skill-three {
    border-right: none;
  }
  #portfolio .grid-skills .skill-five {
    border-right: none;
  }
  #portfolio .grid-skills .skill-eight {
    border-right: none;
    border-left: none;
  }
  #portfolio .grid-skills .skill-nine {
    border-right: none;
  }
  #about {
    padding-top: 15rem;
  }
}/*# sourceMappingURL=styles.css.map */